[submodule "plugins/filters/net_filters"]
	path = plugins/filters/net_filters
	url = https://github.com/alexandrem/ansible-net-filters.git
[submodule "roles/mysql"]
	path = roles/mysql
	url = https://github.com/alexandrem/mysql.git
[submodule "roles/openstack"]
	path = roles/openstack
	url = git@gitlab-ncsa.ubisoft.org:alexandre.mclean/ansible-openstack.git
	branch = develop
[submodule "library/openstack-ansible-modules"]
	path = library/openstack-ansible-modules
	url = git@gitlab-ncsa.ubisoft.org:virga-infrastructure/openstack-ansible-modules.git
	branch = virga
[submodule "roles/ubi-common"]
	path = roles/ubi-common
	url = git@gitlab-ncsa.ubisoft.org:ansible-hub/ubi-common.git
